:root{
  --text-primary:#ddcdbf;
  --dark-coffee:#6F4E37;
      
  }
  .bg-primary { background-color: #967259;}
  .bg-secondary { background: #ece0d1;}
  .yellow {background: #fcc25a;}
  .purple {background: #fafafa;}
  .red {background: #ffe2d2;}
  .f-h{min-height: 100%;}
  .f-w{min-width: 100%;}
  .img64x64 {height: 128; width: 512px;}
  .white-box{ box-shadow: 0 4px 4px #aaa;background: white;}
  .text-center { text-align: center;}
  .close { float: right; color: white; font-size: 32px;}
  .p-1 { padding:4px;} 

  #root {
      height: 100%;
    }
  body,html{
      margin: 0;
      padding: 0;
      min-width: 100%;
      min-height: 100%;
      font-family: 'Assistant', sans-serif;
      background: #E5E5E5;
  }
  .header {
      color:#282e34;
      font-family: 'Nerko One', cursive;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      border-bottom: 4px solid saddlebrown;
  }
  .logo {
      font-size:48px;
  }
  .menu-item{
      list-style-type: none;
      display: flex;
      gap: 16px;
      flex-direction: row;
  }
  .pancake{
      display: grid;
      grid-template-rows: auto 480px auto;
  }
  .main {
      height: 750px;
      margin-top: 130px;
  }
  .three-col {
      display: flex;
      flex: wrap;
  }
  .box {
      flex: 1 1 400px;
      margin:0 4px;
      color: #666;
      height: auto;
      padding:16px;
      background: #f4f4f4;
  }
  .box:hover {
      transition: 1s ease-in-out;
      background:#282e34;
      width: 700px;
      color: #ddd;
  
  }
  .home-image {
      background-image: url('/src/images/phone.jpg');
      height: 750px;
      position: relative;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
      background-position: center;
      text-align: left;
      margin:73px 0;
  }
  .home-image > .content{  
      font-family: 'Nerko One', cursive;
      font-size: 24px;
      margin: 100px;    
      color: #6F4E37;    
  }
  ol { list-style-type: none;}
  .wave {
     position: absolute;
     bottom:-140px;
     
  }
  .footer {    
      background:linear-gradient(var(--text-primary),var(--dark-coffee));
      position: fixed;
      top:98%;
  }
  .header {
      position: fixed;
      top: 0;
      left: 0;
  }
  .sidebar {
      width: 300px;
      height: 600px;
      background: mintcream;
      position: fixed;
      transition: all .5s ease-in-out;
      transform: translateX(-30rem);
  }
  .sidebar.open {
  transform:translate(0);
  }
  .open {
   cursor: pointer;
  }
  /* create account  */
  /* Form */
  main {display: flex; flex: auto; flex-direction: row; flex-wrap: wrap;}
  .aside { flex: 0 1 200px;}
  .container {flex: 2;}
  
  .form-container {
   border: solid #cccccc;
   padding: 32px;
  }
  .form-container li {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
  }
  input {
   padding: 8px;
    border: .1rem #c0c0c0 solid;
    border-radius: .5rem; 
  }
  .button {
    padding: 1rem;
    border: .1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .button-sm {
    height: 24px;
    width: 40px;
  }
  .button:hover {
    border: .1rem #404040 solid;
  }
  .button.primary {
    background:#d2c4a0;
  }
  
  .button.secondary {
    background-color: #f0f080;
  }
  .side-menu-items {
    text-decoration: none;
    border: 2px solid #f0f080;
    display: flex;
    line-height:48px;
    font-size: 34;
    flex-direction: column;
    list-style-type: none;
    font-family: 'Nerko One', cursive;


  }
  a {
    text-decoration: none;
  }
  .sidemenu{
    margin-right: 34px;
    height: 50vh;
  }

  .modal-bg {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    display: none;

  }
  .modal{
    width: 70vh;
    height: auto;
    align-self: center;
    position: fixed;
    transition: all 1s ease-in-out;
    transform: translate(0%, -100%);
  }
  .modal-bg.open, .modal {
    display: block;
  }
  .modal-bg.open > .modal {
    transform: translate(50%, 10%);
  }
  
  .modal-sm {
    height: 400px;
    width: 400px;
    position: fixed;
    transition: all .5s ease-in-out;
    transform: translate(50rem, -50rem);    
  }
  .modal-sm.active {
    transform: translate(50rem, 0);
  }

  .sidemenu li { list-style-type: none; border-bottom: 2px solid var(--text-primary); padding:16px;}
  tbody> tr > td,th { border-bottom: 1px solid #c4c2c3; padding: 16px;}
  th {border-top: 1px solid #c4c2c3 ;}
  
  @media only screen and (max-width: 414px) {
      .wave{display:none;}
      .main{margin-top: 0px;}
      .header{flex-direction: column;}
      .menu-item{flex-direction: column;}  
  }
  
  